#about{
    width: 100%;
    height: auto;
    position: absolute;
    top: 8.0rem;

    .about__wrap {
        width: 80%;
        margin: 0 auto;

        .about__title__wrap {
            margin: 0 auto;
            font-size: 3.2rem;
            border-bottom: 1px solid $off-white;
            padding-bottom: .5rem;
            display: flex;
            align-items: baseline;
            justify-content: space-between;

            .about__num__title {
                display: flex;
                align-items: baseline;

                .about__contens__num {
                    color: $light-green;
                    font-size: 5.2rem;
                    margin-right: 2.0rem;
                }
            }
    
            .about__contents__category {
                font-size: 1.8rem;
            }
        }

        // .contents__whoiam__wrap {
        //     display: flex;
        //     width: 70%;
        //     justify-content: space-between;
        //     margin: 13.0rem auto;
            // padding: 0 10.0rem;

            // .contents__photo {
            //     width: 20%;
            //     margin: 0 5.0rem auto 0;

            //     img {
            //         width: 28.0rem;
            //     }
            // }

            .contents__whoiam {
                display: flex;
                margin: 12.0rem 10.0rem;
                align-items: center;

                img {
                    width: 30%;
                    margin-right: 4.0rem;
                }

                .whoiam__wrap {
                    #whoiam__name {
                        margin-bottom: 0.5rem;
                        font-size: 2.0rem;
                        font-weight: 700;
                    }
            
                    #whoiam__text {
                        word-break: break-word;
                    }
                }
            }
        // }

        .contents__passion__wrap {
            display: flex;
            margin: 12.0rem 5.0rem;
            justify-content: space-between;
    
            .contents__passion {
                text-align: center;
                width: 30%;
    
                .fas {
                    font-size: 5.0rem;
                    color: #fff;
                    background-color: $black;
                    padding: 2.0rem;
                    border-radius: 50%;
                }
    
                .passion__text {
                    word-wrap: break-word;
                }
    
                .passion__title {
                    font-size: 2.0rem;
                    margin: 2.0rem 0;
                }
            }
        }
    
        .contents__skills__wrap{
            display: flex;
            flex-wrap: wrap;
            width: 90%;
            justify-content: space-between;
            margin: 8.2rem auto 7.0rem auto;
        
    
            .contents__skills {
                display: flex;
                width: 46%;
                margin-bottom: 2.0rem;
                align-items: center;
    
                img {
                    width: 12%;
                    margin-right: 1.5rem;
                }
    
                .skills__titles {
                    width: 100%;
    
                    .skills__skilleach {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 0.7rem;
    
                        >p {
                            font-size: 2.1rem;
                        }
                    }
        
                    .skills__wrap {
                        border: 1px solid rgb(202, 202, 202);
                        border-radius: 10px;
                        width: 100%;
                        box-shadow: 0 5px 15px 0 rgba(7, 33, 66, 0.15);

                        .skills__percentage__html, .skills__percentage__ps, .skills__percentage__js, .skills__percentage__react, .skills__percentage__sketch, .skills__percentage__sass, .skills__percentage__ps, .skills__percentage__ai, .skills__percentage__pr, .skills__percentage__af {
                            height: 1.2rem;
                            // background-color: #0DC600;
                            background-image: linear-gradient(to right,#0DC600 , #ACC6FF);
                            border-radius: 10px;
                            opacity: 0;

                        }

                        @keyframes sizeScale {
                            0% { width: 0%; }
                        }

                        .percentage__html, .percentage__ps {
                            opacity: 1;
                            animation: sizeScale 1.5s ease;
                            width: 80%;
                        }

                        .percentage__js {
                            opacity: 1;
                            animation: sizeScale 1.5s ease;
                            width: 60%;
                        }

                        .percentage__react, .percentage__af {
                            opacity: 1;
                            animation: sizeScale 1.5s ease;
                            width: 30%;
                        }

                        .percentage__sketch, .percentage__sass {
                            opacity: 1;
                            animation: sizeScale 1.5s ease;
                            width: 50%;
                        }
                        
                        .percentage__ai, .percentage__pr {
                            opacity: 1;
                            animation: sizeScale 1.5s ease;
                            width: 70%;
                        }
                    }
                }
            }
        }
            
    
        .about__contents__contact {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 12.0rem 0;
    
            >p {
                font-size: 2.1rem;
                margin-right: 6.0rem;
            }
    
            .contact__info {

                li {
                    list-style: none;
                    margin-bottom: 1.2rem;

                    a {                 
                        display: flex;
                        color: $black;
                        text-decoration: none;
                        cursor: pointer;
                        margin: auto 0;
                        
                        .fas, .fab, .far {
                            font-size: 2.4rem;
                            margin-right: 1.0rem;
                        }

                        .far {
                            margin-left: 0.25rem;
                        }

                        p {
                            font-size: 1.8rem;
                        }
                    }
                }
                a:hover{
                    color: darken($light-green, 20%);
                }
            }
        }
    }
    .project__back__btn__wrap {
        position: relative;
        bottom: 8%;
        right: 4%;
        position: fixed;

        .project__back__btn {
            background-color: $light-green;
            width: 7.0rem;
            height: 7.0rem;
            border-radius: 100%;
            cursor: pointer;
            z-index: 5;

            >span {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 2px;
                height: 8px;
                margin: -6px 0 0;
                background-color: #fff;
                transform: rotate(45deg);
            }

            >span:last-child {
                margin: -1px 0 0;
                transform: rotate(-45deg);
            }
        }
        .project__back__btn:hover {
            background-color: darken($light-green, 10%);
        }
    }
}


@include mq('sp') {
    #about {
        .about__wrap{
            width: 90%;
            .about__contents {
                .about__title__wrap {
                    .about__num__title {
                        .about__contens__num {
                            font-size: 3.8rem;
                        }
                        .about__contens__title {
                            font-size: 2.5rem;
                        }
                    }
                    .about__contents__category {
                        font-size: 1.2rem;
                    }
                }

                .contents__whoiam {
                    margin: 3.3rem 0 5.5rem 0;
                    display: block;
                    img {
                        margin-right: 0;
                        width: 100%;
                    }
                    .whoiam__wrap {
                        margin-top: 1.0rem;
                    }
                }
                .contents__passion__wrap {
                    display: block;
                    margin: 3.3rem 0 5.5rem 0;

                    .contents__passion {
                        width: 100%;
                        margin-bottom: 5.0rem;
                    }
                }
                .contents__skills__wrap {
                    margin-top: 3.3rem;
                    margin-bottom: 5.5rem;
                    display: block;

                    .contents__skills {
                        width: 100%;
                        margin-bottom: 2.0rem;

                        img {
                            width: 20%;
                        }

                        .skills__skilleach {
                            p {
                                font-size: 1.8rem;
                            }
                        }
                    }
                }
                .about__contents__contact {
                    flex-direction: column;
                    margin: 4.5rem auto;
                    width: 100%;

                    >p {
                        font-size: 2.0rem;
                        margin-bottom: 2.0rem;
                        margin-right: 0;
                    }

                    .contact__info {
                    
                        .fas, .fab, .far {
                            font-size: 2.0rem
                        }
                        p {
                            font-size: 1.5rem
                        }
                    }
                }
            }   
        }
        .project__back__btn__wrap {
            bottom: 4%;
            right: 5%;

            .project__back__btn {
                width: 6.0rem;
                height: 6.0rem;
            }
        }
    }
    
}