#work__details {
    width: 100%;
    height: auto;
    position: absolute;

        // width: 80%;
        // margin: 0 auto;

        .details__topimage {
            margin-bottom: 5.5rem;
            width: 100%;
            height: 23.0rem;
            background-color: rgba($light-gray,0.8);
            opacity: 0.7;
        }

        #topimage__bm {
            background-image: url('../../imgs/top_design.jpg');
            background-position: top 35% right 50%;
            background-size: 100%;
        }

        #topimage__otm {
            background-image: url('../../imgs/mountain.jpg');
            background-position: top 48% right 80%;
            background-size: 100%;
        }

        #topimage__woksinjapan {
            background-image: url('../../imgs/worksinjapan_bg.jpg');
            background-position: top 48% right 80%;
            background-size: 100%;
        }

        #topimage__skillsshowcase {
            background-color: #5695c8;
            background-image: url('../../imgs/skillsshowcase_bglogo.png');
            background-position: top 50% right 50%;
            background-size: 18%;
        }
    
        .work__details__contents {
            width: 60%;
            margin: 0 auto 5.0rem auto;
    
            h2 {
                margin-bottom: 3.2rem;
            }

            .workdetails__title {
                margin: 4.0rem 0 5.5rem 0;
                text-align: center;
                padding-bottom: 0.7rem;
                border-bottom: 1px solid #222222;
                font-size: 3.0rem;
            }

            .workdetails__subtitle__top {
                margin: 7.0rem 0 2.0rem 0;
            }

            .workdetails__subtitle, .workdetails__subtitle__worksinjapan {
                margin: 10.0rem 0 2.0rem 0;
                font-size: 2.1rem;       
            }
    
            .details__project__detail {
                display: flex;
                margin: 0 0 1.5rem 0;
    
                .project__detail__right, .project__detail__left {
    
                    p {
                        font-size: 1.6rem;
                        margin-bottom: 1.8rem;
    
                        span {
                            font-size: 1.3rem;
                            display: block;
                            margin-bottom: 0.5rem;
                            color: $light-gray;
                        }
                    }
                }
    
                .project__detail__right {
                    width: 60%;
                    word-break: break-word;
                }
    
                .project__detail__left {
                    width: 30%;
                    margin-right: 10%;
                }
            }
    
            a {
                text-decoration: none;
    
                .project__site {
                    background-color: $light-green;
                    border-radius: 50px;
                    width: 30%;
                    margin: 5.5rem auto 5.5rem auto;
                    height: 4.3rem;
                    text-align: center;
        
                    p {
                        align-items: center;
                        line-height: 4.3rem;
                        vertical-align: center;
                        color: #fff;
                        font-size: 2.0rem;
                    }
                }
    
                .project__site:hover {
                    background-color: darken($light-green,10%);
                }
            }
    
            .details__project__design {

                .workinjapan__images__wrap {
                    display: table-row;

                    a {
                        .workinjapan__images {
                            width: 32%;
                            margin: 0.4rem;
                        }
                    }
                }

                .workinjapan__images__center {
                    display: flex;
                    justify-content: center;

                    .workinjapan__images__yuru {
                        width: 70%;
                    }

                    .workinjapan__images__beyond {
                        width: 90%;
                    }
                }
                
                
                .project__design__category {
                    color: $off-white;
                }
    
                .design__category__wrap {
                    display: flex;
                    width: 100%;
                    margin: 8.0rem auto;
                    justify-content: center;
    
                    img {
                        width: 30%;
                    }
    
                    .img__left {
                        margin-right: 9.0rem;
                    }
                }
            }

            .details__project__demo {
                img {
                    display: block;
                    margin: 0 auto;
                    width: 90%;
                }

                .demo__src__btn {
                    padding: 0 15.0rem;
                    display: flex;
                    width: 100%;
                    justify-content: space-around;

                    a {
                        text-decoration: none;
                        color: #fff;
                        display: block;
                        width:35%;

                        .demo__btn, .src__btn {
                            background-color: $light-green;
                            border-radius: 50px;
                            // padding: 1.0% 12.0%;
                            height: 4.2rem;
                            margin: 5.5rem auto 5.5rem auto;
                            text-align: center;

                            p {
                                align-items: center;
                                color: #fff;
                                font-size: 2.0rem;
                                line-height: 4.2rem;
                                vertical-align: middle;
                            }
                        }
                        .demo__btn:hover, .src__btn:hover {
                            background-color: darken($light-green,10%);
                        }
                    }
                }
            }

        }
    
            .project__design__color {
    
                .design__category__wrap {
                    justify-content: center;
                    
                    .design__color__details {
                        margin: 0 2.0rem;
    
                        .color__details__palet {
                            width: 150px;
                            height: 60px;
                            margin-bottom: 0.6rem;
                        }
            
                        #palet1 {
                            background-color: #EA4E38;
                        }
            
                        #palet2 {
                            background-color: #222222;
                        }
            
                        #palet3 {
                            background-color: #EAEAEA;
                        }

                        p {
                            font-size: 1.6rem;
                            padding-top: 0.5rem;
                            text-align: center;
                        }
                    }
                }
            }
    
            .project__design__typo {
    
                .design__typo__wrap {
                    text-align: center;
                    margin: 0 3.0rem;
    
                    .design__typo__fontsize {
                        font-size: 3.5rem;
                        margin-bottom: 0.6rem;
        
                        .design__typo__font {
                            display: block;
                        }
                    }
        
                    #font__helvetica {
                        font-family: Helvetica;
                    }
        
                    #font__rockwell {
                        font-family: 'Roboto Slab', serif;
                    }
                }
            }
            .project__design__img {
                margin-bottom: 5.0rem;
    
                p {
                    margin-bottom: 2.0rem ;
                }
        
                img {
                    width: 100%;
                }
                .fire__wrame__wrap {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    img {
                        border: 1.5px solid rgb(202, 202, 202);
                        margin: 0.8rem 0.5rem;
                        width: 23%;
                    }
                }

            }
        
        
        .prev__next__btns {
            transform: rotate(90deg);
            width: 15.0rem;
            position: fixed;
            top: 85%;
            left: 4%;

            .prev__btn {
                font-size: 1.3rem;
                color: $off-white;
                position: relative;
                cursor: pointer;
                text-decoration: none;
            }

            .prev__btn:hover {
                color: darken($light-green, 10%);
            }

            .btn__prev {
                margin-right: 1.0rem;

                .fas {
                    transform: rotate(-90deg);
                }
            }
            .btn__next {
                .fas {
                    transform: rotate(90deg);
                }
            }
        }

        .project__back__btn__wrap {
            position: relative;
            bottom: 8%;
            right: 4%;
            position: fixed;

            .project__back__btn {
                background-color: $light-green;
                width: 7.0rem;
                height: 7.0rem;
                border-radius: 100%;
                cursor: pointer;
                z-index: 5;

                >span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 2px;
                    height: 8px;
                    margin: -6px 0 0;
                    background-color: #fff;
                    transform: rotate(45deg);
                }

                >span:last-child {
                    margin: -1px 0 0;
                    transform: rotate(-45deg);
                }
            }
            .project__back__btn:hover {
                background-color: darken($light-green, 10%);
            }
        }
}

@include mq('tab') {
    #work__details {
        .work__details__contents {
            .details__project__design {
                .workinjapan__images__wrap {
                    display: table-row;
    
                    a {
                        .workinjapan__images {
                            width: 48%;
                            margin: 0.4rem;
                        }
                    }
                }
                .fire__wrame__wrap {
                    img {
                        margin: 0.8rem 0.3rem;
                        width: 31%;
                    }
                }
            }
            .details__project__demo {
                .demo__src__btn {
                    padding: 0 6.0rem;
                    a {
                        width: 45%;
                        .demo__btn, .src__btn {
                            p {
                                font-size: 1.6rem;
                            }
                        }
                    }
                }
            }
        }
    }
} 

@include mq('sp') {
    #work__details {
        #topimage__skillsshowcase {
            background-size: 40%;
        }
        .details__topimage {
            margin-top: 4.0rem;
            width: 100%;
            background-size: cover;
            height: 20.0rem;
        }
        .work__details__contents {
            width: 90%;
            .details__project__detail {
                display: block;

                .project__detail__left {
                    width: 100%;
                }
                .project__detail__right {
                    width: 100%;
                }
            }
            a {
                .project__site {
                    width: 70%;
                }
            }
            .details__project__design {
                .project__design__logotype {
                    .design__category__wrap {
                        display: block;
                        width: 100%;
                        margin: 5.0rem auto;

                        img {
                            width: 70%;
                            margin: 0 auto 3.0rem auto;
                            display: block;
                        }
                    }
                }
                .project__design__color {
                    .design__category__wrap {
                        display: block;
                        width: 100%;
                        margin: 5.0rem auto;

                        .design__color__details {
                            margin-bottom: 3.0rem;

                            .color__details__palet {
                                width:162px;
                                margin: 0 auto;
                            }
                        }
                    } 
                }
                .project__design__typo {
                    .design__category__wrap {
                        display: block;
                        width: 100%;

                        .design__typo__wrap {
                            margin-bottom: 3.0rem;
                        }
                    }
                }
                .fire__wrame__wrap {
                    img {
                        width: 100%;
                    }
                }
            }
            .details__project__demo {
                img {
                    width: 100%;
                }
                .demo__src__btn {
                    padding: 0;
                }
            }
            .workdetails__subtitle {
                margin: 0 0 2.0rem 0;
            }
            .workdetails__subtitle__worksinjapan {
                margin: 5.0rem 0 2.0rem 0;
            }
        }
        .work__details__contents {
            .details__project__design {
                .workinjapan__images__wrap {    
                    a {
                        .workinjapan__images {
                            width: 100%;
                        }
                    }
                }
                .workinjapan__images__center {
                    .workinjapan__images__yuru, .workinjapan__images__beyond {
                        width: 100%;
                    }
                }
            }
        }
        .project__back__btn__wrap {
            bottom: 4%;
            right: 5%;

            .project__back__btn {
                width: 6.0rem;
                height: 6.0rem;
            }
        }

    }
}