.home__inner {
    width: 100%;
    height: 100vh;
    color: #fff;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .contents__scroll__wrap {
        position: relative;
        top: 50px;
        height: 50px;
        width: 50wh;
        position: fixed;
        z-index: 3;
        

        .contents__scroll {
            width: 65px;
            height: 65px;
            border-radius: 100%;
            // bottom: 60px;
            cursor: pointer;
            overflow: hidden;
            background-color: $light-green;
    
            >span{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 2px;
                height: 8px;
                background-color: #fff;
    
            }
    
            >span:last-child {
                margin: -1px 0 0;
                transform: rotate(45deg) translate3d(0,0,0);
            }
        }
    }

    #home {
        // img {
        //     width: 100%;
        //     height: auto;
        //     z-index: -1;

        // }

        height: 100vh;
        width: 100%;
        display: flex;
        z-index: 2;
        color: $black;
        background: url(../../imgs/background_image.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right 0%;
        background-color: #fff;
        scroll-snap-align: start;

        .home__titles {
            width: 100%;
            height: 100%;
            // display: fixed;
            margin: 32vh 0 32vh 6.0rem;

            .home__title, .home__name {
                font-size: 7.5rem;
                // margin: 30vh 0;
            }
            .home__title__add {
                border-right: 0.2rem solid #777;
            }
            
            .home__subtitle {
                font-size: 3.2rem;
                // margin: 48vh 0;
            }
        }

        .home__scroll__btn_wrap {
            // margin: 0 auto;
            // width: 100%;

            .home__scroll__btn {
                position: absolute;
                left: 48.2%;
                top: 85%;
                background-color: $light-green;
                // border: 2px solid $light-green;
                border-radius:50%;
                padding: 2.4rem .6rem;
                margin: 0 auto;
                text-align: center;
                font-size: 1.2rem;
                margin-bottom: 50px;
                text-decoration: none;
                color: $light-green;
            
                a {
                    text-decoration: none;
                    color: #fff;
            
                    span {
                        position: absolute;
                        top: 80%;
                        left: 50%;
                        width: 20px;
                        height: 20px;
                        margin-left: -10px;
                        border-left: 1.5px solid $light-green;
                        border-bottom: 1.5px solid $light-green;
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                        -webkit-animation: sdb 1.5s infinite;
                        animation: sdb 1.5s infinite;
                        box-sizing: border-box;
                    }
                }
            }
            @keyframes sdb {
                0% {
                    transform: rotate(-45deg) translate(0, 0);
                    opacity: 0;
                }
                50% {
                    opacity: 1;
                }
                100% {
                    transform: rotate(-45deg) translate(-20px, 20px);
                    opacity: 0;
                }
            }
        }
    }

    

    .work__contents__wrap {
        height: 100vh;
        width: 100%;
        display: flex;
        // position: absolute;
        // left: 0;
        // z-index /: -;
        scroll-snap-align: start;


        .work__contents__left {
            width: 50%;
            height: 100vh;
            background-color: rgba($light-gray,0.8);
            padding: 5.0rem;

            .work__contents__title {
                display: flex;
                margin: 0 auto;
                justify-content: space-between;
                align-items: baseline;
                padding-bottom: 0.5rem;
                // opacity: 0;

                .work__contents_num {
                    color: $light-green;
                    font-size: $l-font;
                }
            }

            .work__title__animation__otm, .work__title__animation__bm {
                opacity: 1;
                animation: 1.8s ease;
            }

            .work__contents__border__otm, .work__contents__border__bm {
                background-color: #fff;
                height: 1px;
                // width: 100%;
                opacity: 0;
            }

            .work__border__animation {
                opacity: 1;
                animation: sizeScale 1.5s ease;
                width: 100%;
                transition-delay: 3s;
            }
        
            @keyframes sizeScale {
                0% { width:0%}
            }

            .work__left__title {
                margin: 20vh 0;

                .work__project__service {
                    font-size: 2.4rem;
                }

                .work__project__title {
                    font-size: 5.0rem;
                    margin: 1.0rem 0;
                }

                .work__project__purpse {
                    font-size: 2.0rem;
                }
            }

        }


        .work__contents__right {
            width: 50%;
            height: 100vh;

            #bm__logo {
                display: block;
                width: 20%;
                margin: 40vh auto;
            }

            #otm__logo {
                display: block;
                width: 56%;
                margin: 3vh auto;
            }
        }
    }

    #work__bg__bm {
        background-color: #EA4E36;
    }

    #work__bg__otm {
        background-image : url('../../imgs/mountain.jpg');
    }

        // >li {
        //     background: #AFAFAF;
        //     width: 1.1rem;
        //     height: 1.1rem;
        //     margin: 0.5rem;
        //     border-radius: 50px;

        // }
    

}

.work__pagenation {
    position: fixed;
    // position: absolute;
    top: 85%;
    left: 12.0rem;
    // position: fixed;
    // background: red;
    // z-index: 5;

    a {
        display: block;
        width: 15px;
        height: 15px;
        margin:1.3rem 0;
        background-color: #fff;
        border: 2px solid $light-gray;
        border-radius: 50%;
        transition: transform 0.2s;

        li {
            list-style: none;
        }

        .active {
            transform: scale(1.8);
        }
    }
}

@include mq('sp') {
    .home__inner {
        #home {
            background-size: cover;

            .home__titles {
                margin: 32vh 0 32vh 3rem;

                .home__title, .home__name {
                    font-size: 4rem;
                }
                .home__subtitle {
                    font-size: 2.7rem;
                }
            }
            .home__scroll__btn_wrap {
                .home__scroll__btn {
                    padding: 2.2rem 0.7rem;
                    font-size: 1.0rem;
                    left: 45%;
                    a {
                        span {
                            width: 12px;
                            height: 12px;
                            left: 31px;
                        }
                    }
                }
            }
        }

        .work__contents__wrap {
            .work__contents__left {
                width: 75%;
                padding: 8.0rem 1.5rem;

                .work__contents__title {
                    .work__contents_num {
                        font-size: 3.0rem;
                    }
                    .work__contents__category {
                        font-size: 1.3rem;
                    }
                }
                .work__left__title {
                    .work__project__service {
                        font-size: 2.0rem;
                    }
                    .work__project__title {
                        font-size: 3.5rem;
                    }
                    .work__project__purpse {
                        font-size: 1.6rem;
                    }
                }
            }
            .work__contents__right {
                width: 25%;
            }
        }
    }
    .work__pagenation {
        left: 2rem;
        a {
            width: 12px;
            height: 12px;
        }
    }
}