/*==============
    mediaquery
==============*/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
  left: 8.0rem;
  margin-right: 8.0rem;
}

@media screen and (max-width: 767px) {
  body {
    position: relative;
    left: 0rem;
    margin-right: 0rem;
  }
}

#navbar {
  width: 100%;
}

#navbar .navbar__side {
  width: 8.0rem;
  background-color: #41D6BB;
  z-index: 9999;
  border-right: 1px solid #fff;
  height: 100vh;
  position: fixed;
  left: 0;
}

#navbar .navbar__side .nav__menu__hamb {
  cursor: pointer;
  margin: 47vh 2rem;
  display: block;
}

#navbar .navbar__side .nav__menu__hamb .nav__menu__bar1, #navbar .navbar__side .nav__menu__hamb .nav__menu__bar2, #navbar .navbar__side .nav__menu__hamb .nav__menu__bar3 {
  height: 5px;
  background-color: #fff;
  margin: 0.6rem 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#navbar .navbar__side .nav__action > .nav__menu__bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

#navbar .navbar__side .nav__action > .nav__menu__bar2 {
  opacity: 0;
}

#navbar .navbar__side .nav__action > .nav__menu__bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#navbar .nav__nemu__container {
  -webkit-transition: 0.5s all cubic-bezier(0.87, -0.1, 0.19, 1.2);
  transition: 0.5s all cubic-bezier(0.87, -0.1, 0.19, 1.2);
  position: fixed;
  background: transparent;
  -webkit-transform: translateX(-60.5rem);
          transform: translateX(-60.5rem);
  z-index: 1;
  height: 100vh;
  content: '';
}

#navbar .nav__nemu__container .nav__menu__list__wrap {
  background-color: #41D6BB;
  width: 18vw;
  height: 100vh;
  padding: 40vh 0 40vh 1.0rem;
  max-width: 450px;
  position: relative;
}

#navbar .nav__nemu__container .nav__menu__list__wrap .nav__menu__list {
  text-align: center;
}

#navbar .nav__nemu__container .nav__menu__list__wrap .nav__menu__list .menu__tab__list .tab__about__list, #navbar .nav__nemu__container .nav__menu__list__wrap .nav__menu__list .menu__tab__list .tab__work__list {
  font-size: 1.8rem;
  margin-bottom: 1.0rem;
}

#navbar .nav__nemu__container .nav__menu__list__wrap .nav__menu__list .menu__tab__list .tab__about__list .work__list, #navbar .nav__nemu__container .nav__menu__list__wrap .nav__menu__list .menu__tab__list .tab__work__list .work__list {
  margin-top: 1.0rem;
}

#navbar .nav__nemu__container .nav__menu__list__wrap .nav__menu__list .menu__tab__list .tab__about__list .work__list li, #navbar .nav__nemu__container .nav__menu__list__wrap .nav__menu__list .menu__tab__list .tab__work__list .work__list li {
  margin-bottom: 0.6rem;
  font-size: 1.5rem;
}

#navbar .nav__nemu__container .nav__menu__list__wrap .nav__menu__list .menu__tab__list li {
  list-style: none;
}

#navbar .nav__nemu__container .nav__menu__list__wrap .nav__menu__list .menu__tab__list li a {
  color: #fff;
  text-decoration: none;
}

#navbar .nav__nemu__container .nav__menu__list__wrap .nav__menu__list .menu__tab__list a:hover {
  color: #1f927d;
}

#navbar .nav__nemu__container .nav__menu__list__wrap .nav__icon {
  text-align: center;
}

#navbar .nav__nemu__container .nav__menu__list__wrap .nav__icon .fab {
  color: #fff;
  font-size: 2.5rem;
  margin: 3.0rem 0.5rem 0 0.5rem;
  cursor: pointer;
}

#navbar .nav__nemu__container .nav__menu__list__wrap .nav__icon .fab:hover {
  color: #1f927d;
}

#navbar .nav__open {
  -webkit-transform: translateX(-1rem);
          transform: translateX(-1rem);
  -webkit-transition: 0.5s all cubic-bezier(0.87, -0.41, 0.19, 1.2);
  transition: 0.5s all cubic-bezier(0.87, -0.41, 0.19, 1.2);
  display: block;
}

@media screen and (max-width: 767px) {
  #navbar .navbar__side {
    width: 100%;
    height: 6.0rem;
    position: fixed;
    border-bottom: 1px solid #fff;
  }
  #navbar .navbar__side .nav__menu__hamb {
    position: absolute;
    top: 0;
    left: 0;
    height: 4.0rem;
    margin: 1.0rem 0 1.0rem 1.2rem;
    width: 4.0rem;
    z-index: 1;
  }
  #navbar .nav__nemu__container {
    height: auto;
    width: 100%;
  }
  #navbar .nav__nemu__container .nav__menu__list__wrap {
    width: 100%;
    height: auto;
  }
}

#about {
  width: 100%;
  height: auto;
  position: absolute;
  top: 8.0rem;
}

#about .about__wrap {
  width: 80%;
  margin: 0 auto;
}

#about .about__wrap .about__title__wrap {
  margin: 0 auto;
  font-size: 3.2rem;
  border-bottom: 1px solid #6D7278;
  padding-bottom: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#about .about__wrap .about__title__wrap .about__num__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#about .about__wrap .about__title__wrap .about__num__title .about__contens__num {
  color: #41D6BB;
  font-size: 5.2rem;
  margin-right: 2.0rem;
}

#about .about__wrap .about__title__wrap .about__contents__category {
  font-size: 1.8rem;
}

#about .about__wrap .contents__whoiam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 12.0rem 30.0rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .about__wrap .contents__whoiam img {
  width: 30%;
  margin-right: 4.0rem;
}

#about .about__wrap .contents__whoiam .whoiam__wrap #whoiam__name {
  margin-bottom: 0.5rem;
  font-size: 2.0rem;
  font-weight: 700;
}

#about .about__wrap .contents__whoiam .whoiam__wrap #whoiam__text {
  word-break: break-word;
}

#about .about__wrap .contents__passion__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 12.0rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#about .about__wrap .contents__passion__wrap .contents__passion {
  text-align: center;
  width: 25%;
}

#about .about__wrap .contents__passion__wrap .contents__passion .fas {
  font-size: 5.0rem;
  color: #fff;
  background-color: #222222;
  padding: 2.0rem;
  border-radius: 50%;
}

#about .about__wrap .contents__passion__wrap .contents__passion .passion__text {
  word-wrap: break-word;
}

#about .about__wrap .contents__passion__wrap .contents__passion .passion__title {
  font-size: 2.0rem;
  margin: 2.0rem 0;
}

#about .about__wrap .contents__skills__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 8.2rem auto 7.0rem auto;
}

#about .about__wrap .contents__skills__wrap .contents__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 46%;
  margin-bottom: 1.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .about__wrap .contents__skills__wrap .contents__skills img {
  width: 15%;
  margin-right: 0.8rem;
}

#about .about__wrap .contents__skills__wrap .contents__skills .skills__titles {
  width: 100%;
}

#about .about__wrap .contents__skills__wrap .contents__skills .skills__titles .skills__skilleach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.7rem;
}

#about .about__wrap .contents__skills__wrap .contents__skills .skills__titles .skills__skilleach > p {
  font-size: 2.1rem;
}

#about .about__wrap .contents__skills__wrap .contents__skills .skills__titles .skills__wrap {
  border: 1px solid #cacaca;
  border-radius: 10px;
  width: 100%;
  -webkit-box-shadow: 0 5px 15px 0 rgba(7, 33, 66, 0.15);
          box-shadow: 0 5px 15px 0 rgba(7, 33, 66, 0.15);
}

#about .about__wrap .contents__skills__wrap .contents__skills .skills__titles .skills__wrap .skills__percentage__html, #about .about__wrap .contents__skills__wrap .contents__skills .skills__titles .skills__wrap .skills__percentage__ps, #about .about__wrap .contents__skills__wrap .contents__skills .skills__titles .skills__wrap .skills__percentage__js, #about .about__wrap .contents__skills__wrap .contents__skills .skills__titles .skills__wrap .skills__percentage__react, #about .about__wrap .contents__skills__wrap .contents__skills .skills__titles .skills__wrap .skills__percentage__sketch, #about .about__wrap .contents__skills__wrap .contents__skills .skills__titles .skills__wrap .skills__percentage__sass, #about .about__wrap .contents__skills__wrap .contents__skills .skills__titles .skills__wrap .skills__percentage__ps, #about .about__wrap .contents__skills__wrap .contents__skills .skills__titles .skills__wrap .skills__percentage__ai, #about .about__wrap .contents__skills__wrap .contents__skills .skills__titles .skills__wrap .skills__percentage__pr, #about .about__wrap .contents__skills__wrap .contents__skills .skills__titles .skills__wrap .skills__percentage__af {
  height: 1.2rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#0DC600), to(#ACC6FF));
  background-image: linear-gradient(to right, #0DC600, #ACC6FF);
  border-radius: 10px;
  opacity: 0;
}

@-webkit-keyframes sizeScale {
  0% {
    width: 0%;
  }
}

@keyframes sizeScale {
  0% {
    width: 0%;
  }
}

#about .about__wrap .contents__skills__wrap .contents__skills .skills__titles .skills__wrap .percentage__html, #about .about__wrap .contents__skills__wrap .contents__skills .skills__titles .skills__wrap .percentage__ps {
  opacity: 1;
  -webkit-animation: sizeScale 1.5s ease;
          animation: sizeScale 1.5s ease;
  width: 80%;
}

#about .about__wrap .contents__skills__wrap .contents__skills .skills__titles .skills__wrap .percentage__js {
  opacity: 1;
  -webkit-animation: sizeScale 1.5s ease;
          animation: sizeScale 1.5s ease;
  width: 60%;
}

#about .about__wrap .contents__skills__wrap .contents__skills .skills__titles .skills__wrap .percentage__react, #about .about__wrap .contents__skills__wrap .contents__skills .skills__titles .skills__wrap .percentage__af {
  opacity: 1;
  -webkit-animation: sizeScale 1.5s ease;
          animation: sizeScale 1.5s ease;
  width: 30%;
}

#about .about__wrap .contents__skills__wrap .contents__skills .skills__titles .skills__wrap .percentage__sketch, #about .about__wrap .contents__skills__wrap .contents__skills .skills__titles .skills__wrap .percentage__sass {
  opacity: 1;
  -webkit-animation: sizeScale 1.5s ease;
          animation: sizeScale 1.5s ease;
  width: 50%;
}

#about .about__wrap .contents__skills__wrap .contents__skills .skills__titles .skills__wrap .percentage__ai, #about .about__wrap .contents__skills__wrap .contents__skills .skills__titles .skills__wrap .percentage__pr {
  opacity: 1;
  -webkit-animation: sizeScale 1.5s ease;
          animation: sizeScale 1.5s ease;
  width: 70%;
}

#about .about__wrap .about__contents__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12.0rem 0;
}

#about .about__wrap .about__contents__contact > p {
  font-size: 2.1rem;
  margin-right: 6.0rem;
}

#about .about__wrap .about__contents__contact .contact__info li {
  list-style: none;
  margin-bottom: 1.2rem;
}

#about .about__wrap .about__contents__contact .contact__info li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #222222;
  text-decoration: none;
  cursor: pointer;
  margin: auto 0;
}

#about .about__wrap .about__contents__contact .contact__info li a .fas, #about .about__wrap .about__contents__contact .contact__info li a .fab {
  font-size: 2.4rem;
  margin-right: 1.0rem;
}

#about .about__wrap .about__contents__contact .contact__info li a p {
  font-size: 1.8rem;
}

#about .about__wrap .about__contents__contact .contact__info a:hover {
  color: #1f927d;
}

@media screen and (max-width: 767px) {
  #about .about__wrap {
    width: 90%;
  }
  #about .about__wrap .about__contents .about__title__wrap .about__num__title .about__contens__num {
    font-size: 3.8rem;
  }
  #about .about__wrap .about__contents .about__title__wrap .about__num__title .about__contens__title {
    font-size: 2.5rem;
  }
  #about .about__wrap .about__contents .about__title__wrap .about__contents__category {
    font-size: 1.2rem;
  }
  #about .about__wrap .about__contents .contents__whoiam {
    margin: 3.3rem 0 5.5rem 0;
    display: block;
  }
  #about .about__wrap .about__contents .contents__whoiam img {
    margin-right: 0;
    width: 100%;
  }
  #about .about__wrap .about__contents .contents__whoiam .whoiam__wrap {
    margin-top: 1.0rem;
  }
  #about .about__wrap .about__contents .contents__passion__wrap {
    display: block;
    margin: 3.3rem 0 5.5rem 0;
  }
  #about .about__wrap .about__contents .contents__passion__wrap .contents__passion {
    width: 100%;
    margin-bottom: 5.0rem;
  }
  #about .about__wrap .about__contents .contents__skills__wrap {
    margin-top: 3.3rem;
    margin-bottom: 5.5rem;
    display: block;
  }
  #about .about__wrap .about__contents .contents__skills__wrap .contents__skills {
    width: 100%;
    margin-bottom: 2.0rem;
  }
  #about .about__wrap .about__contents .contents__skills__wrap .contents__skills img {
    width: 20%;
  }
  #about .about__wrap .about__contents .contents__skills__wrap .contents__skills .skills__skilleach p {
    font-size: 1.8rem;
  }
  #about .about__wrap .about__contents .about__contents__contact {
    display: block;
    margin: 5.5rem auto;
    width: 100%;
  }
  #about .about__wrap .about__contents .about__contents__contact > p {
    font-size: 2.0rem;
    margin-bottom: 1.0rem;
    margin-right: 0;
  }
  #about .about__wrap .about__contents .about__contents__contact .contact__info .fas, #about .about__wrap .about__contents .about__contents__contact .contact__info .fab {
    font-size: 2.0rem;
  }
  #about .about__wrap .about__contents .about__contents__contact .contact__info p {
    font-size: 1.5rem;
  }
}

.home__inner {
  width: 100%;
  height: 100vh;
  color: #fff;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.home__inner .contents__scroll__wrap {
  position: relative;
  top: 50px;
  height: 50px;
  width: 50wh;
  position: fixed;
  z-index: 3;
}

.home__inner .contents__scroll__wrap .contents__scroll {
  width: 65px;
  height: 65px;
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
  background-color: #41D6BB;
}

.home__inner .contents__scroll__wrap .contents__scroll > span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 8px;
  background-color: #fff;
}

.home__inner .contents__scroll__wrap .contents__scroll > span:last-child {
  margin: -1px 0 0;
  -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
          transform: rotate(45deg) translate3d(0, 0, 0);
}

.home__inner #home {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  color: #222222;
  background: url(../../imgs/background_image.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right 0%;
  background-color: #fff;
  scroll-snap-align: start;
}

.home__inner #home .home__titles {
  width: 100%;
  height: 100%;
  margin: 32vh 0 32vh 6.0rem;
}

.home__inner #home .home__titles .home__title, .home__inner #home .home__titles .home__name {
  font-size: 7.5rem;
}

.home__inner #home .home__titles .home__title__add {
  border-right: 0.2rem solid #777;
}

.home__inner #home .home__titles .home__subtitle {
  font-size: 3.2rem;
}

.home__inner #home .home__scroll__btn_wrap .home__scroll__btn {
  position: absolute;
  left: 48.2%;
  top: 85%;
  background-color: #41D6BB;
  border-radius: 50%;
  padding: 2.4rem .6rem;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 50px;
  text-decoration: none;
  color: #41D6BB;
}

.home__inner #home .home__scroll__btn_wrap .home__scroll__btn a {
  text-decoration: none;
  color: #fff;
}

.home__inner #home .home__scroll__btn_wrap .home__scroll__btn a span {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  border-left: 1.5px solid #41D6BB;
  border-bottom: 1.5px solid #41D6BB;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
            transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
            transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.home__inner .work__contents__wrap {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  scroll-snap-align: start;
}

.home__inner .work__contents__wrap .work__contents__left {
  width: 50%;
  height: 100vh;
  background-color: rgba(108, 108, 108, 0.8);
  padding: 5.0rem;
}

.home__inner .work__contents__wrap .work__contents__left .work__contents__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-bottom: 0.5rem;
}

.home__inner .work__contents__wrap .work__contents__left .work__contents__title .work__contents_num {
  color: #41D6BB;
  font-size: 5.2rem;
}

.home__inner .work__contents__wrap .work__contents__left .work__title__animation__otm, .home__inner .work__contents__wrap .work__contents__left .work__title__animation__bm {
  opacity: 1;
  -webkit-animation: 1.8s ease;
          animation: 1.8s ease;
}

.home__inner .work__contents__wrap .work__contents__left .work__contents__border__otm, .home__inner .work__contents__wrap .work__contents__left .work__contents__border__bm {
  background-color: #fff;
  height: 1px;
  opacity: 0;
}

.home__inner .work__contents__wrap .work__contents__left .work__border__animation {
  opacity: 1;
  -webkit-animation: sizeScale 1.5s ease;
          animation: sizeScale 1.5s ease;
  width: 100%;
  -webkit-transition-delay: 3s;
          transition-delay: 3s;
}

@keyframes sizeScale {
  0% {
    width: 0%;
  }
}

.home__inner .work__contents__wrap .work__contents__left .work__left__title {
  margin: 20vh 0;
}

.home__inner .work__contents__wrap .work__contents__left .work__left__title .work__project__service {
  font-size: 2.4rem;
}

.home__inner .work__contents__wrap .work__contents__left .work__left__title .work__project__title {
  font-size: 5.0rem;
  margin: 1.0rem 0;
}

.home__inner .work__contents__wrap .work__contents__left .work__left__title .work__project__purpse {
  font-size: 2.0rem;
}

.home__inner .work__contents__wrap .work__contents__right {
  width: 50%;
  height: 100vh;
}

.home__inner .work__contents__wrap .work__contents__right #bm__logo {
  display: block;
  width: 20%;
  margin: 40vh auto;
}

.home__inner .work__contents__wrap .work__contents__right #otm__logo {
  display: block;
  width: 56%;
  margin: 3vh auto;
}

.home__inner #work__bg__bm {
  background-color: #EA4E36;
}

.home__inner #work__bg__otm {
  background-image: url("../../imgs/mountain.jpg");
}

.work__pagenation {
  position: fixed;
  top: 85%;
  left: 12.0rem;
}

.work__pagenation a {
  display: block;
  width: 15px;
  height: 15px;
  margin: 1.3rem 0;
  background-color: #fff;
  border: 2px solid #6C6C6C;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.work__pagenation a li {
  list-style: none;
}

.work__pagenation a .active {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
}

@media screen and (max-width: 767px) {
  .home__inner #home {
    background-size: cover;
  }
  .home__inner #home .home__titles {
    margin: 32vh 0 32vh 3rem;
  }
  .home__inner #home .home__titles .home__title, .home__inner #home .home__titles .home__name {
    font-size: 4rem;
  }
  .home__inner #home .home__titles .home__subtitle {
    font-size: 2.7rem;
  }
  .home__inner #home .home__scroll__btn_wrap .home__scroll__btn {
    padding: 2.2rem 0.7rem;
    font-size: 1.0rem;
    left: 45%;
  }
  .home__inner #home .home__scroll__btn_wrap .home__scroll__btn a span {
    width: 12px;
    height: 12px;
    left: 31px;
  }
  .home__inner .work__contents__wrap .work__contents__left {
    width: 75%;
    padding: 8.0rem 1.5rem;
  }
  .home__inner .work__contents__wrap .work__contents__left .work__contents__title .work__contents_num {
    font-size: 3.0rem;
  }
  .home__inner .work__contents__wrap .work__contents__left .work__contents__title .work__contents__category {
    font-size: 1.3rem;
  }
  .home__inner .work__contents__wrap .work__contents__left .work__left__title .work__project__service {
    font-size: 2.0rem;
  }
  .home__inner .work__contents__wrap .work__contents__left .work__left__title .work__project__title {
    font-size: 3.5rem;
  }
  .home__inner .work__contents__wrap .work__contents__left .work__left__title .work__project__purpse {
    font-size: 1.6rem;
  }
  .home__inner .work__contents__wrap .work__contents__right {
    width: 25%;
  }
  .work__pagenation {
    left: 2rem;
  }
  .work__pagenation a {
    width: 12px;
    height: 12px;
  }
}

#work__details {
  width: 100%;
  height: auto;
  position: absolute;
}

#work__details .details__topimage {
  width: 100%;
  height: 16.8rem;
  background-color: rgba(108, 108, 108, 0.8);
}

#work__details .work__details__contents {
  width: 60%;
  margin: 0 auto;
}

#work__details .work__details__contents h2 {
  margin-bottom: 3.2rem;
}

#work__details .work__details__contents .details__project__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5.5rem 0;
}

#work__details .work__details__contents .details__project__detail .project__detail__right p, #work__details .work__details__contents .details__project__detail .project__detail__left p {
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
}

#work__details .work__details__contents .details__project__detail .project__detail__right p span, #work__details .work__details__contents .details__project__detail .project__detail__left p span {
  font-size: 1.3rem;
  display: block;
  margin-bottom: 0.5rem;
  color: #6C6C6C;
}

#work__details .work__details__contents .details__project__detail .project__detail__right {
  width: 60%;
  word-break: break-word;
}

#work__details .work__details__contents .details__project__detail .project__detail__left {
  width: 30%;
  margin-right: 10%;
}

#work__details .work__details__contents a {
  text-decoration: none;
}

#work__details .work__details__contents a .project__site {
  background-color: #41D6BB;
  border-radius: 50px;
  width: 30%;
  margin: 3.5rem auto 5.0rem auto;
  height: 4.3rem;
  text-align: center;
}

#work__details .work__details__contents a .project__site p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 4.3rem;
  vertical-align: center;
  color: #fff;
  font-size: 2.0rem;
}

#work__details .work__details__contents a .project__site:hover {
  background-color: #28bca1;
}

#work__details .work__details__contents .details__project__design .project__design__category {
  color: #6D7278;
}

#work__details .work__details__contents .details__project__design .design__category__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin: 8.0rem auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#work__details .work__details__contents .details__project__design .design__category__wrap img {
  width: 35%;
}

#work__details .work__details__contents .details__project__design .design__category__wrap .img__left {
  margin-right: 7.0rem;
}

#work__details .work__details__contents .project__design__color .design__category__wrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#work__details .work__details__contents .project__design__color .design__category__wrap .design__color__details {
  margin: 0 2.0rem;
}

#work__details .work__details__contents .project__design__color .design__category__wrap .design__color__details .color__details__palet {
  width: 150px;
  height: 60px;
  margin-bottom: 0.6rem;
}

#work__details .work__details__contents .project__design__color .design__category__wrap .design__color__details #palet1 {
  background-color: #EA4E38;
}

#work__details .work__details__contents .project__design__color .design__category__wrap .design__color__details #palet2 {
  background-color: #222222;
}

#work__details .work__details__contents .project__design__color .design__category__wrap .design__color__details #palet3 {
  background-color: #EAEAEA;
}

#work__details .work__details__contents .project__design__color .design__category__wrap .design__color__details p {
  font-size: 1.6rem;
  padding-top: 0.5rem;
  text-align: center;
}

#work__details .work__details__contents .project__design__typo .design__typo__wrap {
  text-align: center;
  margin: 0 3.0rem;
}

#work__details .work__details__contents .project__design__typo .design__typo__wrap .design__typo__fontsize {
  font-size: 3.5rem;
  margin-bottom: 0.6rem;
}

#work__details .work__details__contents .project__design__typo .design__typo__wrap .design__typo__fontsize .design__typo__font {
  display: block;
}

#work__details .work__details__contents .project__design__typo .design__typo__wrap #font__helvetica {
  font-family: Helvetica;
}

#work__details .work__details__contents .project__design__typo .design__typo__wrap #font__rockwell {
  font-family: 'Roboto Slab', serif;
}

#work__details .work__details__contents .project__design__img {
  margin-bottom: 5.0rem;
}

#work__details .work__details__contents .project__design__img p {
  margin-bottom: 2.0rem;
}

#work__details .work__details__contents .project__design__img img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  #work__details .details__topimage {
    width: 100%;
  }
  #work__details .work__details__contents {
    width: 90%;
  }
  #work__details .work__details__contents .details__project__detail {
    display: block;
  }
  #work__details .work__details__contents .details__project__detail .project__detail__left {
    width: 100%;
  }
  #work__details .work__details__contents .details__project__detail .project__detail__right {
    width: 100%;
  }
  #work__details .work__details__contents a .project__site {
    width: 70%;
  }
  #work__details .work__details__contents .details__project__design .project__design__logotype .design__category__wrap {
    display: block;
    width: 100%;
    margin: 5.0rem auto;
  }
  #work__details .work__details__contents .details__project__design .project__design__logotype .design__category__wrap img {
    width: 70%;
    margin: 0 auto 3.0rem auto;
    display: block;
  }
  #work__details .work__details__contents .details__project__design .project__design__color .design__category__wrap {
    display: block;
    width: 100%;
    margin: 5.0rem auto;
  }
  #work__details .work__details__contents .details__project__design .project__design__color .design__category__wrap .design__color__details {
    margin-bottom: 3.0rem;
  }
  #work__details .work__details__contents .details__project__design .project__design__color .design__category__wrap .design__color__details .color__details__palet {
    width: 162px;
    margin: 0 auto;
  }
  #work__details .work__details__contents .details__project__design .project__design__typo .design__category__wrap {
    display: block;
    width: 100%;
  }
  #work__details .work__details__contents .details__project__design .project__design__typo .design__category__wrap .design__typo__wrap {
    margin-bottom: 3.0rem;
  }
}
/*# sourceMappingURL=styles.css.map */